# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.local

# IDE files
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Project specific
infra/

helios-wallets/
wallet-backups/